*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
    font-family: 'Montserrat', sans-serif;

    :root {
        font-size: 16px;
      }
      ::-webkit-scrollbar {
        width: 8px;
      }
    
      ::-webkit-scrollbar-track {
        background-color: #2c2c31;
      }
    
      ::-webkit-scrollbar-thumb {
        background-color: #9e9ea0;
      }
}

html{
    scroll-behavior: smooth;
}

.header{
    width: 100%;
    height: 100vh;
    background-image: url('https://mvigc.github.io/destinator-site-de-viagens/assets/banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    overflow-x: hidden;
    position: relative;
}

nav{
    background-color: red;
    padding: .7rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100% ;
    left: 1px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    animation: entering .8s ease-in-out;
}

/* LOGOTIPO */

.logo img{
    width: 15em;
    padding: .4rem 0 0 0;
}


.menu{
    display: flex;
    gap: 6rem;
}

.item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item li{
    color: white;
    font-weight: 700;
    padding-left: 1.5rem;
}

/* Login */

.login{
    background-color: white;
    width: 9rem;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 1.5rem 0 .6rem;
}

.login div h2{
    font-weight: 500;
    color: #66857A;
    text-decoration: underline;
    font-size: 1.2rem;
}

/* buscar */

.buscar{
    max-width: 80%;
    min-width: 1300px;
    margin: 14rem auto;
    animation: entering 1.2s ease-in-out;
}
.buscar h1{
    margin-bottom: 4rem;
    font-size: 36px;
    font-weight: 700;
    color: white;
}

.buscar_destino{
    background-color: white;
    width: 100%;
    height: 250px;
    border-radius: 20px;
    padding: 3rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box_wrapper{
    display: flex;
    width: 360px;
    justify-content: space-between;

    background: rgba(111, 108, 108, 0.13);
    border-radius: 40px;
}

.box_wrapper .icon_box{
    display: flex;
    padding: 1rem 1rem;
    width: 100%;
}

.box_wrapper .icon_box p{

    margin-left: .6rem;
}


/* Input */
.box_wrapper .icon_box .text_box{
    border: none;
    background-color: transparent;
    width: 100%;
    margin-left: 1rem;
    outline: 0;
}

/* Placeholder do input */
.box_wrapper .icon_box .text_box::placeholder{
    font-size: 1rem;

}


.elementos .select{
    margin-bottom: 1rem;
    font-weight: 600;
}

.line{
    width: 1.5px;
}


.elementos{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}


/* Div da seta */

.seta{
    position: absolute;
    width: 100% ;
    height: 200px;
    left: 1px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: surge 1.4s ease-in-out;
}

.seta div{
    margin: .5rem;
}

.seta div h1{
    color: white;
    font-size: 2rem;
}

#seta{
    animation: upDown 2.5s infinite ease-in-out;
}


/* Section pacotes de viagem */

.pac_viagem{
    width: 80%;
    height: 100vh;
    margin: auto;
}

.pac_viagem .pac_title{
    padding: 6rem 0;
}

.pac_viagem .pac_title h1{
    font-weight: 700;
    font-size: 2em;
}

.pac_viagem .pac_title p{
    margin-left: 4.4rem;
}

/* conteudo pacotes  */

.container_itens{
    width: 100%;
    height: 360px;
    display: flex;
    overflow: hidden;
}

.item_pac img{
    width: 360px;
}

.item_pac{
    transition: 1s;
}



/* Button prev */

.btn{
    font-size: 50px;
    cursor: pointer;
}



@keyframes upDown{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(20px);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes entering {
    from {
      opacity: 0;
      transform: translateY(-200px);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

@keyframes surge {
    from {
        opacity: 0;
        transform: translateY(200px);
      }
    
      to {
        opacity: 1;
        transform: translateY(0);
      }
}